# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java compiled outputs
*.class

# Operating System clutter
.DS_Store
Thumbs.db
.vscode/

# Build caches & temp files
/tmp/
